.container {
    margin: auto;
    width: 90%;
    text-align: center;
    margin-bottom: 6rem;
}

.container h3 {
    font-size: 1.6em;
    letter-spacing: 1.2px;
}

.container p {
    color: gray;
    font-size: 1em;
    line-height: 1.5em;
}

.container ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0;
    margin-bottom: 3rem;
}

.container li {
    color: hwb(0 27% 73%);
    font-size: 1.2em;
    line-height: 1.4em;
    border-bottom: 2px solid lightgray;
    height: auto;
    padding: 1em 0;
}

.question:hover {
    cursor: pointer;
    color: hsl(0, 94%, 66%);
}

.arrow {
    width: 15px;
    stroke: #5267DF;
}

.open {
    transform: rotate(180deg);
}

.open .arrow {
    stroke: hsl(0, 94%, 66%);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer p {
    line-height: 1.5em;
}

.btn {
    background-color: hsl(231, 69%, 60%);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    width: 10rem;
}

@media (min-width: 850px) {
    .container {
        box-sizing: border-box;
        padding: 0 20%;
    }
}