.intro-section {
    text-align: center;
    padding: 0 7%;
    box-sizing: border-box;
}

.intro-section h1 {
    font-size: 2em;
    line-height: 1.5em;
    color: black;
    letter-spacing: 1px;
}

.intro-section p {
    color: gray;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 10%;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    margin-bottom: 10rem;
}

.btn1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    flex: 1 1 0;
    color: white;
    background-color: hsl(231, 69%, 60%);
    font-size: 0.9em;
    max-width: 15rem;
}

.btn2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: white;
    color: black;
    flex: 1 1 0;
    box-shadow: 0 0 15px lightgray;
    font-size: 0.9em;
    max-width: 15rem;
}

.btn2:hover {
    background-color: rgb(231, 225, 225);
}