.features-container {
    text-align: center;
    padding: 0 7%;
}

.features-container h2 {
    font-size: 1.9em;
    letter-spacing: 1px;
}

.features-container p {
    color: gray;
    font-size: 1em;
    line-height: 1.5em;
}

.features-container ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 4.5rem;
}

.features-container li {
    font-size: 1.2em;
    color: darkgray;
    line-height: 2.4em;
    border-top: 1.8px solid lightgray;
}

.features-container li:last-of-type {
    border-bottom: 1.8px solid lightgray;
}

.feature-active {
    color: black;
}

.features-container li:hover {
    cursor: pointer;
}

.features-container li:hover .option-text,
.selected .option-text {
    color: black;
    border-bottom: 5px solid hsl(0, 94%, 66%);
}

.option-text {
    margin: auto;
    padding: 1rem 0;
    line-height: 4rem;
    width: fit-content;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    pointer-events: none;
}

@media (min-width: 850px) {
    .features-container div:first-of-type {
        padding: 0 25%;
    }

    .features-container ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        border-bottom: 1.8px solid lightgray;
        padding: 0 2rem;
        width: 70%;
        min-width: 530px;
        margin: auto;
        margin-top: 2rem;
    }

    .features-container li {
        border: none;
    }

    .features-container li:last-of-type {
        border-bottom: none;
    }

    .features-container li:not(.selected):hover .option-text {
        color: hsl(0, 94%, 66%);
        border-bottom: 5px solid white;
    }
}