.feature-svg {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.image-container {
    margin-bottom: 3rem;
}

.selected-feature-container {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10rem;
}

.selected-feature-container h3 {
    font-size: 1.6em;
    letter-spacing: 1.2px;
}

.selected-feature-container p {
    color: gray;
    font-size: 1em;
    line-height: 1.5em;
}

@media (min-width: 850px) {
    .selected-feature-container {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 6fr);
        grid-template-rows: 12fr;
        gap: 5rem;
        padding: 0 10%;
        box-sizing: border-box;
    }
    
    .image-container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .selected-feature-container div:last-of-type {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .btn {
        background-color: hsl(231, 69%, 60%);
        color: white;
        font-size: 0.9em;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 5px;
    }

    .feature-svg {
        width: 100%;
    }
}