.container {
    width: 100%;
    box-sizing: border-box;
    padding: 7%;
    text-align: center;
    background-color: hsl(229, 31%, 21%);
}

.logo {
    margin: 1rem 0;
    width: 45%;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 3.5em;
    letter-spacing: 2px;
}

.container li:hover {
    cursor: pointer;
    opacity: 30%;
}

.logo-container {
    width: 6rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-logo {
    width: 30px;
}

.company-logo:hover {
    cursor: pointer;
    opacity: 40%;
}