.container {
    width: 100%;
    box-sizing: border-box;
    padding: 7%;
    text-align: center;
    background-color: hsl(229, 31%, 21%);
}

.logo {
    margin: 1rem 0;
    width: 45%;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 3.5em;
    letter-spacing: 2px;
}

.container li:hover {
    cursor: pointer;
    color: hsl(0, 94%, 66%);
}

.logo-container {
    width: 6rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-logo {
    width: 30px;
    fill: white
}

.company-logo:hover {
    cursor: pointer;
    fill: hsl(0, 94%, 66%);
}

@media (min-width: 850px) {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 1rem 10%;
    }

    .container ul {
        display: flex;
        font-size: 0.8em;
        gap: 2rem;
    }

    .list-container {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 10rem;
    }

    .logo-container {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }
}