.btn {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    border-radius: 10px;
    height: 3rem;
    border: none;
    font-size: 1em;
    padding: 5%;
    box-sizing: border-box;
}

.btn:hover {
    opacity: 80%;
    cursor: pointer;
}